* {
  margin: 0;
  padding: 0;
}

.container-fullscreen {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#particles canvas {
  z-index: -2;
  position: absolute;
}

.container-info {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 600px;
  color: #fff;
  border-radius: 5%;
  font-size: 2.7rem;
  text-align: center;
}

.container-info > h1 {
  letter-spacing: 30px;
  font-family: "Rubik";
  font-weight: bolder;
}

.container-info > span {
  font-family: "Rubik";
  letter-spacing: 10px;
  font-weight: 400;
  font-size: 1.5rem;
  color: #b96428;
  margin-right: 20px;
}
